## Preprocessing

In [16]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [18]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns= ['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [19]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [20]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df["APPLICATION_TYPE"].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [21]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [22]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_count = application_df["CLASSIFICATION"].value_counts()
application_count

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [23]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_count[application_count>1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [25]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_replace = application_count[application_count<1000].index

# Replace in dataframe
for cls in classifications_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [26]:
# Convert categorical data to numeric with `pd.get_dummies`
APPLICATION_TYPE_dummies = pd.get_dummies(application_df['APPLICATION_TYPE'])
CLASSIFICATION_dummies = pd.get_dummies(application_df['CLASSIFICATION'])
AFFILIATION_dummies = pd.get_dummies(application_df['AFFILIATION'])
USE_CASE_dummies = pd.get_dummies(application_df['USE_CASE'])
ORGANIZATION_dummies = pd.get_dummies(application_df['ORGANIZATION'])
INCOME_AMT_dummies = pd.get_dummies(application_df['INCOME_AMT'])

concat_data = pd.concat([application_df,APPLICATION_TYPE_dummies, CLASSIFICATION_dummies, AFFILIATION_dummies, USE_CASE_dummies, ORGANIZATION_dummies,INCOME_AMT_dummies], axis="columns")
concat_data.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,...,Trust,0,1-9999,10000-24999,100000-499999,10M-50M,1M-5M,25000-99999,50M+,5M-10M
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1,...,False,True,False,False,False,False,False,False,False,False
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1,...,False,False,True,False,False,False,False,False,False,False
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0,...,False,True,False,False,False,False,False,False,False,False
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1,...,True,False,False,True,False,False,False,False,False,False
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1,...,True,False,False,False,True,False,False,False,False,False

In [27]:
# Clean up dataframe
# Drop category data in dataframe
concat_data_clean = concat_data.drop(columns=['APPLICATION_TYPE', 'CLASSIFICATION','AFFILIATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS', 'STATUS'])
concat_data_clean

,ASK_AMT,IS_SUCCESSFUL,Other,T10,T19,T3,T4,T5,T6,T7,...,Trust,0,1-9999,10000-24999,100000-499999,10M-50M,1M-5M,25000-99999,50M+,5M-10M
0,5000,1,False,True,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,108590,1,False,False,False,True,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2,5000,0,False,False,False,False,False,True,False,False,...,False,True,False,False,False,False,False,False,False,False
3,6692,1,False,False,False,True,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
4,142590,1,False,False,False,True,False,False,False,False,...,True,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,False,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,False,False
34295,5000,0,False,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,False,False
34296,5000,0,False,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
34297,5000,1,False,False,False,False,False,True,False,False,...,False,True,False,False,False,False,False,False,False,False
34298,36500179,0,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [28]:
# Checking for non integral data
concat_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 41 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ASK_AMT           34299 non-null  int64
 1   IS_SUCCESSFUL     34299 non-null  int64
 2   Other             34299 non-null  bool
 3   T10               34299 non-null  bool
 4   T19               34299 non-null  bool
 5   T3                34299 non-null  bool
 6   T4                34299 non-null  bool
 7   T5                34299 non-null  bool
 8   T6                34299 non-null  bool
 9   T7                34299 non-null  bool
 10  T8                34299 non-null  bool
 11  C1000             34299 non-null  bool
 12  C1200             34299 non-null  bool
 13  C2000             34299 non-null  bool
 14  C2100             34299 non-null  bool
 15  C3000             34299 non-null  bool
 16  Other             34299 non-null  bool
 17  CompanySponsored  34299 non-null  bool
 18  Family/Parent     34299 non-null  bool
 19  Independent       34299 non-null  bool
 20  National          34299 non-null  bool
 21  Other             34299 non-null  bool
 22  Regional          34299 non-null  bool
 23  CommunityServ     34299 non-null  bool
 24  Heathcare         34299 non-null  bool
 25  Other             34299 non-null  bool
 26  Preservation      34299 non-null  bool
 27  ProductDev        34299 non-null  bool
 28  Association       34299 non-null  bool
 29  Co-operative      34299 non-null  bool
 30  Corporation       34299 non-null  bool
 31  Trust             34299 non-null  bool
 32  0                 34299 non-null  bool
 33  1-9999            34299 non-null  bool
 34  10000-24999       34299 non-null  bool
 35  100000-499999     34299 non-null  bool
 36  10M-50M           34299 non-null  bool
 37  1M-5M             34299 non-null  bool
 38  25000-99999       34299 non-null  bool
 39  50M+              34299 non-null  bool
 40  5M-10M            34299 non-null  bool
dtypes: bool(39), int64(2)
memory usage: 1.8 MB

In [29]:
# Split our preprocessed data into our features and target arrays
y = concat_data_clean['IS_SUCCESSFUL']
X = concat_data_clean.drop(columns='IS_SUCCESSFUL')

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [30]:
# Check for data balancing(training data)
X_train.shape

(25724, 40)

In [31]:
# Check for data balancing(testing data)
X_test.shape

(8575, 40)

In [32]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [33]:
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=16, activation="relu", input_dim=40))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="tanh"))

# third hidden layer
nn.add(tf.keras.layers.Dense(units=20, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                656

 dense_1 (Dense)             (None, 30)                510

 dense_2 (Dense)             (None, 20)                620

 dense_3 (Dense)             (None, 1)                 21

=================================================================
Total params: 1807 (7.06 KB)
Trainable params: 1807 (7.06 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [34]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [35]:
# Train the model
train_model = nn.fit(X_train_scaled, y_train, epochs=20)

Epoch 1/20
804/804 [==============================] - 3s 2ms/step - loss: 0.5890 - accuracy: 0.7068
Epoch 2/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5595 - accuracy: 0.7281
Epoch 3/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5562 - accuracy: 0.7287
Epoch 4/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5544 - accuracy: 0.7296
Epoch 5/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5530 - accuracy: 0.7305
Epoch 6/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5519 - accuracy: 0.7305
Epoch 7/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5512 - accuracy: 0.7299
Epoch 8/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5505 - accuracy: 0.7307
Epoch 9/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5500 - accuracy: 0.7326
Epoch 10/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5493 - accuracy: 0.7317
Epoch 11/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7315
Epoch 12/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5485 - accuracy: 0.7320
Epoch 13/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7322
Epoch 14/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5476 - accuracy: 0.7323
Epoch 15/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7321
Epoch 16/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7323
Epoch 17/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7328
Epoch 18/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7330
Epoch 19/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7348
Epoch 20/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7342

In [36]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5527 - accuracy: 0.7275 - 481ms/epoch - 2ms/step
Loss: 0.5527056455612183, Accuracy: 0.7274635434150696

In [37]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(